<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<context:annotation-config />

	<!-- variableTypeService is used by entity converter so it should not be removed -->
	<bean id="variableTypeService" class="org.happyfaces.services.base.VariableTypeService">
	</bean>
	<bean id="customerService" class="org.happyfaces.services.CustomerService">
	</bean>
	<bean id="accountService" class="org.happyfaces.services.AccountService">
	</bean>
	<bean id="operationService" class="org.happyfaces.services.OperationService">
	</bean>
	<bean id="cityService" class="org.happyfaces.services.CityService">
	</bean>

	<!-- Data Source Declaration -->
	<bean id="DataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass" value="com.mysql.jdbc.Driver" />
		<property name="jdbcUrl" value="jdbc:mysql://localhost:3306/happyfaces" />
		<property name="user" value="root" />
		<property name="password" value="aaa" />
		<property name="maxPoolSize" value="10" />
		<property name="maxStatements" value="0" />
		<property name="minPoolSize" value="5" />
	</bean>

	<bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
	    <property name="persistenceUnitName" value="persistenceUnit" />
	    <property name="packagesToScan" value="org.happyfaces.domain" /> <!-- TODO change in archetype -->
	    <property name="dataSource" ref="DataSource"/>
	    <property name="jpaVendorAdapter">
	      <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
	         <property name="showSql" value="true" />
	         <property name="databasePlatform" value="org.hibernate.dialect.MySQLDialect" />
	         <property name="generateDdl" value="true" />
	      </bean>
	   </property>
	</bean>

	<!-- Enable the configuration of transactional behavior based on annotations -->
	<tx:annotation-driven transaction-manager="txManager" />

	<!-- Transaction Manager is defined -->
	<bean id="txManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		 <property name="entityManagerFactory" ref="entityManagerFactory"/>
	</bean>
	
</beans>