<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:sec="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security-3.1.xsd">

	<global-method-security secured-annotations="enabled">
	</global-method-security>

	<http pattern="/resources/**" security="none" />
	<http pattern="/javax.faces.resource/**" security="none" />
	<http pattern="/images/**" security="none" />

	<http auto-config="true" access-denied-page="/accessDenied.jsf">

		<intercept-url pattern="/login*" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<intercept-url pattern="/favicon.ico" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<intercept-url pattern="/**" access="ROLE_USER" />
		<form-login login-processing-url="/j_spring_security_check"
			login-page="/login.jsf" default-target-url="/index.jsf"
			always-use-default-target="true" authentication-failure-url="/login.jsf" />
		<logout logout-url="/logout.jsf" logout-success-url="/login.jsf" />
		<remember-me key="happyKey"/>
	</http>

	<authentication-manager>
	   <authentication-provider>
	       <user-service>
		   		<user name="aaa" password="aaa" authorities="ROLE_USER" />
	       </user-service>
	   </authentication-provider>
	</authentication-manager>


</beans:beans>